#patternContainer,
#patternContainer > header .inner {
	max-width: 1600px;
}

#patternContainer > header .inner {
	overflow: hidden;
}

#patternLib {
	position: relative;
	padding: 0;
	margin: 0;
}

#patternContainer {
	overflow: hidden;
	margin: 0 auto;
	padding: 6em 0;
}

#patternContainer > header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #eee;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	font: normal 16px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #999;
}

#patternContainer > header h1,
#patternContainer > header .controls {
	width: 48%;
	overflow: hidden;
}

#patternContainer > header h1 {
	float: left;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

#patternContainer > header a {
	color: blue;
	text-decoration: none;
}

#patternContainer > header .controls {
	float: right;
	text-align: right;
}

#patternContainer > header .controls a {
	text-decoration: underline;
	cursor: pointer;
}

.patternItem,
.patternWrap pre {
	overflow: hidden;
	display: block;
}

.patternWrap {
	overflow: hidden;
	padding: 2em 0;
}

.patternWrap:first-of-type {
	padding-top: 0;
}

.patternWrap:last-of-type {
	padding-bottom: 0;
}

.patternWrap > header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 10px;
	background: #eaeef3;
	color: #999;
	padding: 3px 6px;
	margin: 0 0 1em 0;
	border-radius: 3px;
}

.patternWrap > header h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.patternItem {
	width: 60%;
	float: left;
}

.patternItem.fullWidth {
	width: 100%;
}

.patternItem,
.patternWrap pre {
	-webkit-transition: 0.2s all ease-in-out;
	   -moz-transition: 0.2s all ease-in-out;
	        transition: 0.2s all ease-in-out;
}

.patternWrap pre {
	width: 38%;
	float: right;
	border-radius: 3px;
	opacity: 1;
	font-size: 14px;
}

.patternWrap pre.inactive {
	width: 0;
}

.patternItem {
	overflow: hidden;
}

@media screen and (max-width: 1600px) {
	#patternContainer {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

@media screen and (max-width: 1023px) {
	.patternItem,
	.patternWrap pre {
		width: 100%;
		float: none;
	}

	#patternContainer > header h1,
	#patternContainer > header .controls {
		width: 100%;
		text-align: left;
	}
}