<table>

  <thead>
  {{#headings}}
    <th>{{item}}</th>
  {{/headings}}
  </thead>

  <tbody>
  {{#rows}}
    <tr>
    {{#cells}}
      <td>{{cell}}</td>
    {{/cells}}
    </tr>
  {{/rows}}
  </tbody>

</table>
